.mobile-form{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 8px;
}
.mobile-form_gap16{
    gap: 16px;
}
.mobile-form__header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.message-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px;
}
.message-container__text{
    width: 230px;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 18px;
}
.message-container__text_bot{
    background-color: #fff;
    margin-right: auto;
    border-bottom-left-radius: 0;
}
.message-container__text_user{
    background-color: #E9F6FF;
    margin-left: auto;
    border-bottom-right-radius: 0;
}
.mobile-form__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-bottom: 16px;
}
.select-block{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.select-block__select{
    width: 200px;
    font-size: 14px;
}
.select-block__title{
    text-align: center;
    font-size: 18px;
}
.electives{
    padding-left: 20px;
}
.electives__item{
    list-style: square;
    margin-top: 4px;
}
